* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* background-color: grey */
  font-family: Poppins;
}

section {
  padding: 20px;
}

.nav-container {
  width: 100vw;
  height: 70px;
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 3.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  /* border-bottom: 1px solid grey; */
  /* box-shadow: 2px 0px 5px 10px rgba(0, 0, 0, 0.2); */
}
.nav-logo {
  width: 82px;
  height: 25px;
  margin: 22px 0 22px 30px;
}

.hero-grid-container {
  display: flex;
  justify-content: center;
}
.hero-grid {
  margin-top: 26px;
  height: 232px;
  width: 395.906494140625px;
  border-radius: 8.949999809265137px;
}
.hero-text-container {
  margin: 32px 0 16px 36px;
  width: 75%;
}

.hero-head {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}

/* Cards css */
.card-container {
  display: flex;
  flex-direction: column;
  margin: 0px 0 16px 36px;
}
.card-details {
  margin-top: 8px;
}

.card-img {
  height: 235px;
  width: 176px;
  border-radius: 9px;
}

.card-details_first {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  /* line-height: 13px; */
  letter-spacing: 0em;
  text-align: left;
  /* margin-bottom: 8px; */
}

.card-tag {
  position: absolute;
  background-color: #fff;
  top: -230px;
  left: 10px;
  border-radius: 2px;
  padding: 5px;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: center;
}

.star-img {
  width: 14px;
  height: 14px;
}
.rating_no,
.dash,
.country {
  color: #918e9b;
}

.trainer-detail {
  font-size: 12px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0em;
}

.price-detail {
  font-size: 12px;

  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 300;
}
.price {
  font-weight: 600;
}
/* 
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/anshumanUTD21/airbnbdemo.git
git push -u origin main */
